@model Sunshine.Business.Core.User
@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@Html.Partial("UserNav")
<div id="Manage">
<p class="message">@ViewBag.Message</p>
@Html.Partial("_EditProfile")
</div>

@section Scripts {
    <script type="text/javascript">
        function showmessage(a, b, c) {
            $(".message").html(a.message);
         }
    </script>
}

