@model Sunshine.Business.Core.User
@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<ul>
<li><a href="#info">用户信息</a></li>
<li><a href="#company">公司信息</a></li>
<li><a href="#pwd">修改密码</a></li>
<li><a href="#company-member">公司员工</a></li>
</ul>

<div id="info">
<p class="message">@ViewBag.Message</p>
@Html.Partial("_EditProfile")
</div>
<div id="company">
 @Html.Partial("_EditCompany")
</div>
<div id="pwd">
<p class="message"></p>
 @{Html.RenderAction("pwd");}
</div>
<div id="company-member">
@* @Html.Partial("_CompanyMember")*@
</div>

@section Scripts {
    <script type="text/javascript">
        function showmessage(a, b, c) {
            $(".message").html(a.message);
         }
    </script>
}

