@model Sunshine.Business.Core.UserProfile
@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<section id="tabset">
<ul id="">
<li><a href="#info">用户信息</a></li>
<li><a href="/Account/pwd?@DateTime.Now.Ticks">修改密码</a></li>
</ul>
<div id="info">
@Html.Partial("EditDetail")
</div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tabset").tabs({ ajaxOptions: { cache: true} });
        });
    </script>
}

