@{
    ViewBag.Title = "业务员";
}
@section styles {
	@Styles.Render("~/Styles/search/css")
}
<div class="w2 fl">
<p>公司业务员</p>
</div>
<div class="w7 fl">
<h2>产品报价</h2>
<div id="loading" class="hide w7" style="height:100%; line-height:100px;background-color:transparent; position:fixed; z-index:1000; text-align:center; vertical-align:middle">
loading...
</div>
<div id="result">
@{Html.RenderAction("Goods", "List", new { name = ViewBag.Name });}
</div>
@using (Ajax.BeginForm("Goods", new { field = "saleman", name = ViewBag.Name }, new AjaxOptions { UpdateTargetId = "result", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, LoadingElementId = "loading" }))
{
	<input name='pageIndex' id='pageIndex' type="hidden" />
	<input class="hide" id="pagesubmit" type="submit" />
}
</div>

<p class="clr"></p>
@section scripts {
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	<script type="text/javascript">
		function loadpage(index) {
			document.getElementById("pageIndex").value = index;
			$("#pagesubmit").click();
			return false;
		}
</script>
}
