@model IList<Sunshine.Business.Core.SearchResultItem>
@{
    ViewBag.Title = "Salesman";
    Layout = "";
    ViewBag.actionName = "SalesmanSearch";
}
<div id="loading" class="hide w7" style="height:100%; line-height:100px; background-color:transparent; position:fixed; z-index:1000; text-align:center; vertical-align:central">
    loading...
</div>
<div class="fore1 pagin">
    @Html.Partial("pagingPart")      
</div>
<table id="prodlist">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.CompanyName
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>
<div class="fore2 pagin">
    @Html.Partial("pagingPart")  
</div>

