@model Sunshine.Business.Core.ProductSize
@{
    ViewBag.Title = "ProductSizeDelete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<section id="tabset">
    <ul>
        <li><a href="#cindex">删除尺寸</a></li>
    </ul>
<div id="cindex">
<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ProductSize</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductSizeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductSizeName)
    </div>
</fieldset>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "SizeManager")
    </p>
}

</div>
</section>