@model IEnumerable<Sunshine.ViewModels.RoleModel>

@{
    Layout = "";
}


@foreach (Sunshine.ViewModels.RoleModel a in Model)
{
    <h2>@Html.ActionLink(a.RoleName, "UsersInRole", new { role = a.RoleName }, new { target="_blank" })</h2>
}

<p></p>