@{
    ViewBag.Title = "徽田首页";
}
<div id="hotlinks" class="w2 fl">
	<div>
		<ul>
		<li class="link-item"><a href="#"  target="_blank"><img alt="" src="images/bullet.png" /><span>热门商品</span></a></li>
		<li class="link-item"><a  target="_blank"><img alt="" src="images/bullet.png" /><span>热门商家</span></a></li>
		<li class="link-item"><a  target="_blank"><img alt="" src="images/bullet.png" /><span>热门业务员</span></a></li>
		<li class="link-item"><a  target="_blank"><img alt="" src="images/bullet.png" /><span>热门商品</span></a></li>
		</ul>
	</div>
</div>
<div class="w5 fl">
	<div>
	<img alt="" src="images/ad.png" />
	</div>
</div>
<div class="w2 fl">
	<div>
		<div>
			<h3>热门公司</h3>
		</div>
		<div>
			<ul class="l" >
				<li class="link-item"><a title="" href="" target="_blank">
					<img alt="" src="images/bullet.png"><span>fddf dsfd fddf dsfd fddf dsfd</span></a></li>
				<li class="link-item"><a title="" href="" target="_blank">
					<img alt="" src="images/bullet.png"><span>fddfdsfd</span></a></li>
				<li class="link-item"><a title="" href="" target="_blank">
					<img alt="" src="images/bullet.png"><span>fddfdsfd</span></a></li>
			</ul>
			<div class="tab"><span class="curr" ><b></b></span><span ><b></b></span></div>
		</div>
	</div>
	<div>
		<div>
			<h3>热门公司</h3>
		</div>
		<div>
			<ul class="l" >
				<li class="link-item"><a title="" href="" target="_blank">
					<img alt="" src="images/bullet.png"><span>fddfdsfd</span></a></li>
				<li class="link-item"><a title="" href="" target="_blank">
					<img alt="" src="images/bullet.png"><span>fddfdsfd</span></a></li>
				<li class="link-item"><a title="" href="" target="_blank">
					<img alt="" src="images/bullet.png"><span>fddfdsfd</span></a></li>
			</ul>
			<div class="tab"><span class="curr" ><b></b></span><span ><b></b></span></div>
		</div>
	</div>
</div>

