@{
	Sunshine.ViewModels.PagedModel pageInfo = ViewBag.Paging;
    int j = 0;
	dynamic rv = pageInfo.RouteValues ?? new { pageIndex = pageInfo.CurrentIndex - 1 };
}
<div class="pagin">
@if ((pageInfo.PagedStype & Sunshine.ViewModels.PagedStyle.PreNext) == Sunshine.ViewModels.PagedStyle.PreNext)
{
if (pageInfo.CurrentIndex <= 1)
{
	<span class="prev-disabled">上一页<b></b></span>
}
else
{
	@Html.ActionLink("上一页", pageInfo.ActionName, pageInfo.ControllerName, rv as object, null)
}
}
@if ((pageInfo.PagedStype & Sunshine.ViewModels.PagedStyle.Number) == Sunshine.ViewModels.PagedStyle.Number)
{
for (int i = pageInfo.StartIndex; i <= pageInfo.EndIndex; i++, j++)
{
	rv.pageIndex = i;
	if (i != pageInfo.CurrentIndex)
	{
		@Html.ActionLink(i.ToString(), pageInfo.ActionName, pageInfo.ControllerName, rv as object, null)
	}
	else
	{
		<span class="current">@i</span> 
	}
}}
@if ((pageInfo.PagedStype & Sunshine.ViewModels.PagedStyle.PreNext) == Sunshine.ViewModels.PagedStyle.PreNext)
{
if (pageInfo.CurrentIndex >= pageInfo.TotalPage)
{
	<span class="next-disabled">下一页<b></b></span>
}
else
{
	rv.pageIndex = pageInfo.CurrentIndex + 1;
	@Html.ActionLink("下一页", pageInfo.ActionName, pageInfo.ControllerName, rv as object, null)
}
}
</div>