#result {
	border-width: 1px 1px 1px; border-style: solid; border-color: rgb(222, 223, 222) rgb(222, 223, 222) rgb(222, 223, 222); margin-bottom: 20px;
}
#result .fore1 {
	padding: 3px 8px; overflow: hidden; border-bottom-color: rgb(231, 227, 231); border-bottom-width: 1px; border-bottom-style: solid; zoom: 1;
}
#result .fore2 {
	padding: 3px 8px; border-top-color: rgb(231, 227, 231); border-top-width: 1px; border-top-style: solid; zoom: 1;
}
#result .pagin 
{
    text-align:right; line-height:20px; padding:5px;
}
#result .pagin a, #result .pagin span {
height: 20px;
padding: 3px 10px;
border: 1px solid #ccc;
margin-left: 2px;
font-family: arial;
line-height: 20px;
font-size: 14px;
overflow: hidden;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#result .pagin .current {border:none;}

#result #prodlist
{
    width:98%; font-size:0.9em;
}
#result .prev-disabled
{
    color:rgb(230,230,230)
}

#result .next-disabled
{
    color:rgb(230,230,230)
}
