<?xml version="1.0"?>
<configuration>
    <system.web>
      <httpModules>
        <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
        <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      </httpModules>
    </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
   </handlers>
  </system.webServer>
</configuration>
